		<header>
			<nav class="navbar fixed-top">
				<div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
					<div class="navbar-header">
						<a href="/" class="navbar-brand" id="nav">
							<img src="resources/images/design ms logo.png" class="navlogo1">
							<img src="resources/images/design ms logo.png" class="navlogo2" style="display: none;">
						</a>
						<a href="#" id="toggle-btn" class="menu-btn active">
							<span></span>
							<span></span>
							<span></span>
						</a>
					</div>
					<ul class="nav-menu d-flex flex-md-row align-items-md-center pull-right">
						<li class="nav-item d-flex align-items-center">
							<form class="search">
							  	<div class="search__wrapper">
							    	<input type="text" name="" placeholder="Search" class="search__field">
							    	<button type="submit" class="fa fa-search search__icon"></button>
							  	</div>
							</form>
						</li>
						<li class="nav-item dropdown">
							<a href="#" id="notifications" rel="nofollow" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
								<i class="fa fa-bell animated swing infinite"></i>
							</a>
						</li>
						<li class="nav-item">
							<a href="profile" >
								<i class="fa fa-user profile-pic rounded"></i>
							</a>
							<!--  <ul aria-labelledby="user" class="user-size dropdown-menu" style="display: none;">
                                <li class="welcome">
                                    <a href="#" class="edit-profil"><i class="fa fa-gear"></i></a>
                                    <i class="fa fa-user profile-pic roundedbig"></i>
                                </li>
                                <li>
                                    <a href="pages-profile.html" class="dropdown-item"> 
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="app-mail.html" class="dropdown-item"> 
                                        Messages
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item no-padding-bottom"> 
                                        Settings
                                    </a>
                                </li>
                                <li class="separator"></li>
                                <li>
                                    <a href="pages-faq.html" class="dropdown-item no-padding-top"> 
                                        Faq
                                    </a>
                                </li>
                                <li><a rel="nofollow" href="pages-login.html" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
                            </ul>-->							
						</li>						
                        <li>

                        </li>
					</ul>		
				</div>
			</nav>
		</header>
		<div class="page-content d-flex align-items-stretch">
			<div class="default-sidebar">
				<nav class="side-navbar box-scroll side-scroll">
					<ul class="list-unstyled">
						<li class="active">
							<a href="dashboard">
								<i class="fa fa-columns"></i>
								<span>Dashboard</span>
							</a>	
						</li>
					</ul>
					<ul class="list-unstyled">
						<li class="active">
							<a href="project">
								<i class="fa fa-puzzle-piece"></i>
								<span>Project</span>
							</a>	
						</li>
					</ul>
					<ul class="list-unstyled">
						<li class="active">
							<a href="Task">
								<i class="fa fa-tasks"></i>
								<span>Task</span>
							</a>	
						</li>
					</ul>
					<ul class="list-unstyled">
						<li class="active">
							<a href="profile">
								<i class="fa fa-user profile-pic rounded"></i>
								<span>Profile</span>
							</a>	
						</li>
					</ul>					
					<ul class="list-unstyled">
						<li class="active">
							<a href="#">
								<i class="fa fa-users"></i>
								<span>Setup Meetings</span>
							</a>	
						</li>
					</ul>
					<ul class="list-unstyled">
						<li class="active">
							<a href="project-detail">
								<i class="fa fa-file-text-o"></i>
								<span>Project Details</span>
							</a>	
						</li>
						<li class="active">
							<a href="logout" aria-expanded="false">
								<i class="fa fa-sign-out"></i>
								<span>Logout</span>
							</a>	
						</li>						

					</ul>																				
				</nav>

			</div>